[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Aseedr
[access "refs/for/refs/*"]
	read = group user/Aseedr
	push = group user/Aseedr
	label-Code-Review = -2..+2 group user/Aseedr
	label-Verified = -1..+1 group user/Aseedr
	rebase = group user/Aseedr
	removeReviewer = group user/Aseedr
	submit = group user/Aseedr
[access "refs/heads/*"]
	read = group user/Aseedr
	create = group user/Aseedr
	push = +force group user/Aseedr
	pushMerge = group user/Aseedr
	label-Code-Review = -2..+2 group user/Evgenii Zhurko (zhen9i)
	label-Code-Review = -2..+2 group user/tatianic
	label-Verified = -1..+1 group user/Evgenii Zhurko (zhen9i)
	label-Verified = -1..+1 group user/tatianic
[access "refs/tags/*"]
	push = +force group user/Aseedr
	createTag = group user/Aseedr
	createSignedTag = group user/Aseedr
